{% block header %}
    {% include "col/header.html" %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Lista de Regiones</title>
  </head>
  <body>

  <br><br>
  <div class="container">
      <div class="row">
          <div class="col-sm">
        <h1>Lista de Regiones</h1>
    </div>
      </div>
  </div>
  <br><br>
    <div class="container">
  <div class="row">

    <div class="col-sm">
    <div class="table-responsive-sm">
      <table class="table table-striped">
<thead>
    <tr>
    <th>Nombre</th>
    <th>Codigo</th>
    <th>Municipios</th>
    <th>Detalles</th>
    <th>Editar</th>
    <th>Eliminar</th>
    </tr>
</thead>
<tbody>
    {% for region in object_list %}
    <tr>
    <td>{{ region.name }}</td>
    <td>{{ region.code }}</td>
    <td>{{ region.municipios }}</td>
    <td><a href="{% url "region_view" region.id %}">Ver Detalles</a></td>
    <td><a href="{% url "region_edit" region.id %}">Editar</a></td>
    <td><a href="{% url "region_delete" region.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
    </div>
    <a href="{% url "region_new" %}">Crear Nueva Region</a>
    </div>
  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>